<main id="login-main">
  
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Login form -->
<fieldset>
  <legend>Log in if you have an account</legend>
    <form id="loginForm" action="/account/login" method="POST">
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="account_email" placeholder="example@example" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="account_password" placeholder="Enter your password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
      
      <button type="submit">Login</button>
    </form>
</fieldset>
<!-- Registration link -->
<p id="registrationLink">
  No account? 
  <a title="Click to resgister" href="/account/register">Sign up</a>.
</p>
</main>