* {
    margin: 0;
    padding: 0;
}

/*------------ Normal view ------------*/
.main-forms {
  width: 95%;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/site/auto-form1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 25px;
}

fieldset {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: bold;
    text-spacing-trim: 5px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}

fieldset legend {
  color: black;
  font-size: large;
  margin: 0 1rem;
  padding: 0 .5rem;
}


.forms {
  max-width: 75%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px var(--primary-font-color) solid;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  background: transparent;
}
.forms label {
  display: block;
  margin-bottom: 0.2rem;
  font-family: var(--primary-font);
  font-size: larger;
  
}

.forms input {
  width: 100%;
  display: block;
  font-family: var(--secondary-font);
  font-size: 18px;
  margin-bottom: 0.8rem;
  padding: 0.50rem;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  background: rgba(255, 255, 255, 0.3);
}

.forms input:required {
  border-left: 6px solid red;
  border-right: 1px solid red;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.forms input:required:valid {
  border-left: 6px solid green;
  border-right: 1px solid green;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}

.forms button, #showPassButton  {
  width: 220px;
  padding: 0.30rem;
  font-family: var(--primary-font);
  font-size: 1.3rem;
  text-align: center;
  align-self: center;
  color: white;
  background-color: var(--formBtn-color);
  border: none;
  border-radius: 15px;
}

.forms button:hover, #showPassButton:hover {
  background-color: var(--background-nav);
}

.links, .managementLinks, .links a {
  font-family: var(--primary-font);
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 10px;
  backdrop-filter: blur(5px);
  background: transparent;
}

.links a:hover, .managementLinks {
  text-decoration: underline;
  color: black;
}

.managementContent {
  height: 300px;
  text-align: center;
  align-content: center;
}

.managementLinks {
  display:block;
  height: 150px;
  text-align: left;
  align-content: center;
  padding-left: 20px;
  border: 1px var(--primary-font-color) solid;
  border-radius: 10px;
}

#pwd-required {
  margin: 15px 0;
  font-family: var(--primary-font);
  font-size: 18px;
  text-align: center;
  color: white;
}

.classification-paragraph {
  font-size: 25px;
  padding-bottom: 10px;
}
.notice {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--primary-font-color);
  text-align: center;
  list-style: none;
}
/*------------Mobile view  */
@media only screen and (max-width: 800px) {
  fieldset legend {
    font-size: 18px;
  }

  .forms {
    max-width: 100%;
  }
  
  .formslabel {
    font-size: 12px;
  }
  
  .forms input {
    width: 100%;
    display: block;
    font-family: var(--secondary-font);
    font-size: 12px;
  }

  .forms button, #showPassButton {
    width: 150px;
    font-size: medium;
  }
  .forms, #showPassButton {
    font-size: 1rem;
  }

  .classification-paragraph {
    font-size: 20px;
  }

  #pwd-required {
    font-size: 14px; 
  }

  .notice {
    font-size: 1rem;
  }
}